<h1>Anagram checker</h1>
<form action="/title">
  <div class="form-group">
   <h2>Let us check your anagrams!</h2>
   <div class="form-group">
     <label for=""></label>
     <input id="anagrams" name="anagrams" class="form-control" type="text">
  </div>
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
